@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    overflow-x: clip;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  *::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee 25s linear infinite;
  }

  .animate-marquee2 {
    animation: marquee2 25s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  .text-fadein {
    opacity: 0;
    animation: fadeInStep 0.8s ease-out forwards;
  }

  @keyframes fadeInStep {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .isolate-fix {
    isolation: isolate;
  }
}